*.aux
*.bbl
*.bcf
*.blg
*.gz
*.idx
*.ilg
*.ind
*.ist
*.log
*.lb
*.nav
*.py
*.ptc
*.sage
*.scmd
*.scmd
*.sout
*.txt
*.toc
*.out
*.xml
*.snm

*.fdb_latexmk

*.vrb

20130731-093333-rs2.2B-TemplatesthlmBeamerTheme.pdf

20130731-093333-rs2.2B-TemplatesthlmBeamerTheme.tex
